#pcbOuterContainer {
    display:flex;
    width: auto;
    height: auto;
    flex-direction: row;
}
#pcbInnerContainer{
  display:flex;
  justify-content: center;
  height: 260px;
  width: 1200px;
  margin: 10px;
  //background-color: grey;
}
#rectangle {
  x: 0;
  y: 15%;
  height: 220px;
  width: 1000px;
  //fill: #149C2B;
  fill: none;
  stroke: #149C2B;
  stroke-width: 5px;
}


#outerSVG {

  display: block;
  margin: auto;
  height: 100%;
  width: 1600px;
  //border: solid;
}
.baseBlock {

  y: 63px;
  height: 32px;
  width: 56px;
  fill: #333036;
  fill-opacity: 0.1;
}
.innerElement {

  y: 18%;
  height: 16px;
  width: 56px;
  fill: green;
}

.pos {
  y: 63px;
  fill: red;
}
.neg {
  y: 79px;
  fill: blue;
}
.baseBlock:hover {
    //fill:white;
    stroke: white;
    stroke-width: 5px;
    }