html {
    background-color: #333036;
     }
body {
    background-color: #333036;
    //display: flex;
    }
.outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: #333036;
    //height: 80px;
    }
.innerContainer {
    height: auto;
    align-items: stretch;
    background-color: none;
    color: white;
    margin: 3px;
    border-style: solid;
    border-width: 3px;
    border-color: #746782;
    border-radius: 5px;
    }




#vizWindow {
    display:flex;
    flex-direction: row;
    height: 400px;
    width: auto;
    text-align: center;

}
#scriptBox1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
    height: 50px;
    width: auto;
}
#scriptBox2 {
    height: 50px;
    width: auto;
}
#logBoxContainer {



}
#logBox {

    resize: none;
    //position: relative;
    font-size: 12px;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-align: left;
    height: auto;
    width: 100%;
    overflow: auto;
}
.antPcbContainer{
    display:flex;
    justify-content: center;
    text-align:center;

    }
#antPcb {

    x:70;
    y:50;
    top: 50%;
    width:900px;
    height:300px;
    fill:green;
    stroke-width:1;

}
.buttonSpacer {
    flex-grow: 1
    }
.interfaceWrapper {
    display:flex;
    flex-direction: row;
    height: auto;

    }
.buttonBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto;}
.messageWrapper {
    display:flex;
    flex-direction: row;
    height: auto;
    align-items: stretch;
    }


.resultsTable{
    width: 600px;
    height:auto;
  color: white;
  border: 1px solid black;
  //border-collapse: collapse;
  background-color:  #333036;
  padding-left: 5px;
}
//tr:hover {
//    background-color: #149C2B;
//}
td {
     border: 1px solid black;
    }
.miniButton {
    width:150px;
    }
#miniButtonBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    height: auto;
    font-size: 20px;}